<div class="row about-wrapper">
  <div class="col-lg-6 left">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="team photo"
        class="left-img"
      />
    </div>
  </div>
  <div class="col-lg-6 right">
    <div class="text">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt
        maiores asperiores nemo, maxime sequi! Ex inventore tempora adipisci est
        minus delectus quis officiis facere molestiae qui neque asperiores,
        magni totam sapiente. Debitis laboriosam labore enim consequatur.
        Repellat tempora aspernatur eum, a, tempore incidunt, eos vitae laborum
        similique id assumenda? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illo deserunt maiores asperiores nemo, maxime sequi!
        Ex inventore tempora adipisci est minus delectus quis officiis facere
        molestiae qui neque asperiores, magni totam sapiente. Debitis laboriosam
        labore enim consequatur. Repellat tempora aspernatur eum, a, tempore
        incidunt, eos vitae laborum similique id assumenda?
      </h3>
    </div>
    <div class="links">
      <a href="https://borismilosavljevic.netlify.app/" target="_blank">
        <i class="fa-brands fa-instagram fa-2xl"></i>
      </a>
      <a href="https://borismilosavljevic.netlify.app/" target="_blank">
        <i class="fab fa-facebook-f fa-2xl"></i>
      </a>
      <a href="https://borismilosavljevic.netlify.app/" target="_blank">
        <i class="fa-solid fa-envelope fa-2xl"></i>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
