.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 81px;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    .card {
      width: 80%;
      .left-img {
        width: 100%;

        object-fit: contain;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text {
      text-align: center;
      width: 80%;
      padding: 20px;
    }
    .links {
      width: 30%;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
@media screen and (max-width: 480px) {
  .about-wrapper {
    padding: 0;
    .left {
      margin: 0;
      padding-bottom: 50px;
      img {
        margin-top: -100px;
      }
    }
    .right {
      margin: 0;
      padding: 0;
      .text {
        margin-top: -150px;
      }
      .links {
        margin-bottom: 30px;
      }
    }
  }
}
