.category-navbar {
  margin-top: 1px;
  height: 5vh;
  background-color: #eca869;
  .category-navbar-items {
    display: flex;
  }
}
h3 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .category-navbar-items {
    .link-wrapper {
      width: 100% !important;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  .category-navbar-items {
    .link-wrapper {
      width: 100% !important;
    }
  }
}
