<div class="row">
  <div class="row">
    <div class="store-filter-wrapper">
      <div class="button-wrapper" #buttonWrapper>
        <button
          class="loc-button"
          *ngFor="let item of stores"
          (click)="getStore(item.id, $event.target)"
        >
          {{ item.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="row p-lg-5 mt-lg-5 mt-3">
    <div class="col-lg-6 left mb-3">
      <div class="card">
        <img [src]="activeStore.images" alt="" class="left-img" />
      </div>
    </div>
    <div class="col-lg-6 right">
      <div class="card">
        <div class="top">
          <h3>Working hours :</h3>
          <p>{{ activeStore.workingHours }}</p>
          <h3>Contact :</h3>
          <p>{{ activeStore.kontakt }}</p>
        </div>
        <div class="bottom">
          <iframe [src]="activeStore.location | sanitizeUrl"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
