.single-product {
  &:hover {
    animation: changeBg 0.5s both;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
  background-color: white;
  overflow: auto;
  .product-title {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  img {
    cursor: pointer;
    object-fit: contain;
    height: 60%;
  }
  .price-wrapper {
    cursor: pointer;

    display: flex;
    justify-content: center;
    .price {
      color: black;
      font-size: 25px;
    }
  }
  .button-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 480px) {
  .single-product {
    padding: 20px;
  }
}

@keyframes changeBg {
  100% {
    -webkit-box-shadow: 6px 2px 24px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 24px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 24px 3px rgba(0, 0, 0, 0.75);
  }
}
