<div class="navigation">
  <div class="row h-100 w-100">
    <div
      class="col-lg-1 offset-lg-1 h-100 d-flex justify-content-center align-items-center mt-lg-0 mt-2"
    >
      <h1 [routerLink]="['/']" class="m-0">Banananas</h1>
    </div>
    <div
      class="col-lg-6 col-8 offset-lg-1 d-flex justify-content-center align-items-center mb-lg-0 mb-2"
    >
      <div class="input-group">
        <form class="forma" (submit)="searchProducts()">
          <input
            type="text"
            class="form-control"
            placeholder="Search products"
            aria-describedby="basic-addon2"
            [formControl]="query"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center p-0 w-100">
      <div class="row">
        <div class="col">
          <div
            ngbDropdown
            placement="bottom-end"
            class="d-inline-block"
            #myDrop="ngbDropdown"
          >
            <button id="dropdownBasic1" ngbDropdownToggle class="cart-icon">
              <mat-icon [matBadge]="cart.items.length" matBadgeColor="warn"
                >shopping_cart</mat-icon
              >
            </button>

            <div
              *ngIf="cart.items.length == 0"
              ngbDropdownMenu
              class="cart-items no-items"
            >
              <div class="card w-100 no-items-card">
                <h2 class="m-0 p-0">Cart is empty</h2>
              </div>
            </div>
            <div *ngIf="cart.items.length" ngbDropdownMenu class="cart-items">
              <div class="card" *ngFor="let item of cart.items">
                <div ngbDropdownItem class="title">
                  <h3 class="m-0 p-0" [routerLink]="['/details', item.id]">
                    {{ item.title }}
                  </h3>
                </div>
                <div class="quantity">
                  <button
                    class="quantity-buttons"
                    (click)="changeQuantity(item, -1)"
                  >
                    <mat-icon>keyboard_arrow_left</mat-icon>
                  </button>
                  <p class="mb-1">
                    {{ item.quantity }}
                  </p>
                  <button
                    class="quantity-buttons"
                    (click)="changeQuantity(item, 1)"
                  >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </div>
              <div class="button-wrapper mt-3">
                <button
                  [routerLink]="['/cart']"
                  mat-raised-button
                  color="primary"
                  (click)="$event.stopPropagation(); myDrop.close()"
                >
                  Go to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
