.left {
  height: 79.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  ng-magnizoom {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  .details-card {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 70%;
    width: 70%;
    height: auto;
  }
  .desc-text {
    margin: auto;
    width: 60%;
  }
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  h1 {
    font-size: xx-large;
  }
}
@media screen and (max-width: 480px) {
  .right {
    margin-bottom: 10px;
    padding: 20px;
    .details-card {
      width: 100%;
      height: 100%;
    }

    .desc-text {
      margin: auto;
      width: 90%;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  .right {
    .details-card {
      width: 80%;
      height: auto;
      margin-bottom: 25px;
    }
    .desc-text {
      margin: auto;
      width: 90%;
    }
  }
}
